################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CSharpInDepth/.vs/CSharpIndepth/v15/Server/sqlite3
/.vs
/CSharpInDepth/obj/Debug/netcoreapp2.0
/CSharpInDepth/obj/Release/netcoreapp2.0
/CSharpInDepth/obj
/ConcurrencyInCSharpCookbook/ThreadBasic/bin
/ConcurrencyInCSharpCookbook/ThreadBasic/obj
/ConcurrencyInCSharpCookbook/03ParallerBasic/obj
/ConcurrencyInCSharpCookbook/03ParallerBasic/bin
/ConcurrencyInCSharpCookbook/04DataFlow/bin
/ConcurrencyInCSharpCookbook/04DataFlow/obj
/ConcurrencyInCSharpCookbook/05ReactiveExtensions/bin
/ConcurrencyInCSharpCookbook/05ReactiveExtensions/obj
/CSharpGuide/bin
/CSharpGuide/obj
/ConcurrencyInCSharpCookbook/06UnitTest/bin
/ConcurrencyInCSharpCookbook/06UnitTest/obj
/ConcurrencyInCSharpCookbook/07Interoperate/bin
/ConcurrencyInCSharpCookbook/07Interoperate/obj
/ConcurrencyInCSharpCookbook/08Collections/bin
/ConcurrencyInCSharpCookbook/08Collections/obj
/ConcurrencyInCSharpCookbook/09Cancellation/bin
/ConcurrencyInCSharpCookbook/09Cancellation/obj
/ConcurrencyInCSharpCookbook/10OOP/bin
/ConcurrencyInCSharpCookbook/10OOP/obj
/ConcurrencyInCSharpCookbook/11Sync/bin
/ConcurrencyInCSharpCookbook/11Sync/obj
/ConcurrencyInCSharpCookbook/12Schedule/bin
/ConcurrencyInCSharpCookbook/12Schedule/obj
/ConcurrencyInCSharpCookbook/13PracticalSkills/bin
/ConcurrencyInCSharpCookbook/13PracticalSkills/obj
/AsyncInCSharp/AsyncPatternInNet/bin
/AsyncInCSharp/AsyncPatternInNet/obj
/AsyncInCSharp/AwaitWhatActuallyToDo/bin
/AsyncInCSharp/AwaitWhatActuallyToDo/obj
